[package]
name = "gsfit_rs"
version = "0.0.3"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]
name = "gsfit_rs"

[dependencies]
# Local data_tree dependency
data_tree = { path = "../data_tree" }
interpolation = { path = "../interpolation" }

# External dependencies
contour = "0.13.1"
geo = "0.31.0"  # For centre of mass; polygon area
geo-types = "0.7.17"  # For getting geo type out of `contour`
pyo3 = { version = "0.26.0", features = ["extension-module", "multiple-pymethods"] }  # "extension-module" = this will be a Python package; "multiple-pymethods" = ??
physical_constants = "0.5.0"  # For MU_0
rayon = "1.11.0"
spec_math = "0.1.6"  # For elliptic integrals
numpy = "0.26.0"
ndarray = { version = "0.16.1", features = ["approx"] }  # must be same version as numpy uses internally
ndarray-interp = "0.5.0"  # TODO: I want to remove this dependency, because it has essentially been abandoned and it restricts `ndarray` version!
env_logger = "0.11.8"
log = "0.4.28"
approx = "0.5.1"
lapack = "0.20.0"
ndarray-stats = "0.6.0"  # TODO: I want to remove this dependency, because it restricts `ndarray` version!
ode_solvers = "0.6.1"
rand = "0.9.2"
special = "*"

# Platform-specific BLAS/LAPACK configurations
[target.'cfg(not(target_os = "windows"))'.dependencies]
blas-src = { version = "0.14.0", features = ["openblas"] }
ndarray-linalg = { version = "0.17.0", features = ["openblas"] }

[target.'cfg(target_os = "windows")'.dependencies]
openblas-src = { version = "0.10.13", features = ["system"] }
ndarray-linalg = { version = "0.17.0", features = ["openblas-static"] }
